.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
.git
.github
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/.nvmrc
examples/**
testFixtures/**
images/icon.svg
images/format-dialog.svg
node_modules/**
.eslintrc.json
src/test/**
out/test/**
CHANGELOG.md
.eslintignore
**/manualTest.js
**/runTest.js
**/testUtils.ts
**/unit.test.ts
**/extension.test.ts
.ruby-lsp/
